<% provide(:title, 'All Words') %>
<h1>All Words</h1>

<div id="search">
  <%= render :partial => 'admin/words/search' %>
</div>
  <ul class="words">
    <% @words.each do |word| %>
      <%= render word %>
    <% end %>
  </ul>