<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
    	<%= render 'shared/user_info' %>
    </section> 
  </aside>

  <div class="span8">
    <section>
	    <h3>Activities</h3>
	  </section>
	  <section>
	    <%= render 'shared/activities' %>
	  </section>
  </div>
</div>	