<% provide(:title, 'All lessons') %>
<h1>All lessons</h1>

<%= will_paginate %>
<ul class="lessons">
 <table style="text-align: center" border="1">
    <thead>
      <tr>
        <th>Lesson</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %> 
       <tr>              
        <td><%= link_to lesson.id, lesson %></td>
        <td><%= lesson.category_id %></td>
       <tr>
      <% end %>
    </tbody>
 </table>
</ul>
<%= will_paginate %>